html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: black;
}

/* ---- Logo Styling Below ---- */
.logo {
    max-height: 50px;
    padding: 10px;
}

/* ---- Header Styling Below ---- */
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 69px;
    padding-right: 10px;
    box-sizing: border-box;
    z-index: 1000;
    border-bottom: 1px solid seashell;
}

/* ---- Navigation Styling Below ---- */
.navigation ul {
    list-style: none;
    text-align: right;
    display: flex;
    gap: 20px;
}
.navigation li {
    text-decoration: underline;
    color: seashell;
}

.navigation li a {
    color: seashell;
    text-decoration: none;
}

.navigation a:hover {
    color: lightgreen;
}

/* ---- Middle Section Styling ---- */
#mission {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.mission-background {
    background-image: url("../CCP/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 43.75rem;
    width: 100%;
    margin-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-info {
    text-align: center;
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    width: 1200px;
}

/* ----- Tea Section Styling ---- */
#tea {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 100%
}

.card {
    display: flex;
    flex-direction: column;
}

.card img {
    height: 12.5rem;
    width: 18.75rem;
}

.card p {
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    margin-top: 10px;
}

.featured {
    display: flex;
    max-width: 1000px;
    width: 100%;
    background-color: black;
    color: seashell;
    opacity: 0.9;
}