html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: black;
    color: seashell;
    padding: 70px;
}

/* ---- Logo Styling Below ---- */
.logo {
    height: 50px;
    padding: 10px;
}

/* ---- Header Styling Below ---- */
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    padding: 10px 50px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    border-bottom: 1px solid seashell;
}

/* ---- Navigation Styling Below ---- */
.navigation ul {
    list-style: none;
    margin: 0; padding: 0;
    display: flex;
    gap: 1rem;
}
.navigation li {
    text-decoration: underline;
    color: seashell;
    text-align: right;
}

.navigation li a {
    color: seashell;
    text-decoration: none;
    margin-left: 20px;
}

.navigation a:hover {
    text-decoration: underline;
}

/* ---- Middle Section Styling ---- */
#mission {
    background-image: url("../CCP/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 75rem;
    height: 43.75rem;
    margin-top: 4.38rem;
    display: flex;
    padding-top: 4.38rem;
}

.mission-info {
    background-color: black;
    opacity: 0.9;
    color: seashell;
    text-align: center;
    width: 1200px;
    padding: 1.5rem;
}