html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: black;
}

/* ---- Logo Styling Below ---- */
.logo {
    max-height: 50px;
    padding: 10px;
}

/* ---- Header Styling Below ---- */
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 69px;
    padding-right: 10px;
    box-sizing: border-box;
    z-index: 1000;
    border-bottom: 1px solid seashell;
}

/* ---- Navigation Styling Below ---- */
.navigation ul {
    list-style: none;
    text-align: right;
    display: flex;
    gap: 20px;
}
.navigation li {
    text-decoration: underline;
    color: seashell;
}

.navigation li a {
    color: seashell;
    text-decoration: none;
}

.navigation a:hover {
    color: lightgreen;
}

/* ---- Middle Section Styling ---- */
#mission {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.mission-background {
    background-image: url("../CCP/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 43.75rem;
    width: 100%;
    margin-top: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-info {
    text-align: center;
    background-color: black;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    width: 1200px;
}

/* ----- Tea Section Styling ---- */
#tea {
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    transition: background-color 0.3s ease;
}

.card img {
    height: 12.5rem;
    width: 18.75rem;
    object-fit: cover;
}

.card p {
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    margin-top: 10px;
}

/* Container */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/* -- Text Styling for Tea Section -- */
.featured {
    text-align: center;
    font-family: Helvetica;
    font-size: 22px;
    background-color: black;
    color: seashell;
    opacity: 0.9;
}

/* ---- Locations Section ---- */
#locations {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.location-background {
    background-image: url("../CCP/locations.jpg");
    background-position: center;
    background-repeat: no-repeat;
    height: 31.25rem;
    width: 100%;
}

.location-info {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    justify-content: center;
    text-align: center;
    opacity: 0.9;
    padding-bottom: 15px;
}

/* ---- Location Card Styling ---- */
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.cards {
    background-color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    width: 18.75rem;
    padding: 40px;
}

.cards:hover {
    transform: scale(1.02);
    transition: background-color 0.3s ease;
}

.cards h3, .cards p {
    margin: 0;
    color: seashell;
    line-height: 1.4;
}

/* ---- Footer Styling ---- */
footer {
    text-align: left;
    color: seashell;
    font-size: 22px;
    font-family: Helvetica;
    opacity: 0.9;
    padding-left: 20px;
}

.footer {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    height: 12.5rem;
}