html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: black;
    color: seashell;
    padding-top: 69px;
}

/* ---- Logo Styling Below ---- */
.logo {
    max-height: 50px;
    padding: 10px;
}

/* ---- Header Styling Below ---- */
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    max-height: 69px;
    padding-right: 10px;
    box-sizing: border-box;
    z-index: 1000;
    border-bottom: 1px solid seashell;
}

/* ---- Navigation Styling Below ---- */
.navigation ul {
    list-style: none;
    text-align: right;
    display: flex;
    gap: 20px;
}
.navigation li {
    text-decoration: underline;
    color: seashell;
}

.navigation li a {
    color: seashell;
    text-decoration: none;
}

.navigation a:hover {
    color: lightgreen;
}

/* ---- Middle Section Styling ---- */
#mission {
    background-image: url("../CCP/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
}
/*
.mission-info {
    justify-content: center;
    max-width: 1200px;
    color: seashell;
    opacity: 0.9;
}*/
