/* ---- Logo Styling Below ---- */
.logo {
    height: 50px;
    padding: 10px;
}

/* ---- Header Styling Below ---- */
header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    padding: 10px 50px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

/* ---- Navigation Styling Below ---- */
.navigation ul {
    list-style: none;
    margin: 0; padding: 0;
    display: flex;
}
.navigation li {
    text-decoration: underline;
    color: seashell;
    text-align: right;
}

/* ---- Middle Section Styling ---- */
#mission {
    background-image: url("../CCP/background.jpg");
    background-size: cover;
    background-position: center;
    width: 1200px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-info {
    background-color: black;
    opacity: 0.9;
    color: seashell;
    text-align: center;
    width: 1200px;
    padding: 20px;
}